{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h2>Liste des collections</h2>

{% for collection in collections %}
  <div class="card">
     <img class="card-img-top" src="{{ asset('uploads/' ~ collection.images[0].name) }}" alt="{{collection.title}}"> 
    <div class="card-body">
      <h5 class="card-title">{{collection.title}}</h5>
      <p class="card-text">{{collection.content}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
{% endfor %}

{% endblock %}
