<h1>Merci de vous êtes inscrits à la Ruche</h1>

<p>
    Dernière étape, veuillez cliquer sur ce lien :<br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon compte</a>.
    {# Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
    Nous espérons vous revoir très vite !
</p>
