@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "~bootstrap/scss/bootstrap";

* {
    margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
}

h6 {
    color: #014c4f!important;
}

.table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* BOUTON EYE-CATCH */
.homeBtn {
  width: 50vh;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 300ms ease-in-out;
  border: 2px solid #f1c40f;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

  .homeBtn:hover,
  .homeBtn:focus {
    color: #fff;
    outline: 0;
    background-position: 0;
  }


.btn-container {

  display: flex;
  justify-content: flex-end;
}
.devantureImg {
width: 50%;
display: block;
margin-left: auto;
margin-right: auto; 
border-radius: 15px;
}

.logo {
    width: 5%;
}

form {
width: 30%;
display: block;
margin-left: auto;
margin-right: auto; 

	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.caroulix {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.admin-buttons{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.registerbtn{
  display: flex;
  justify-self: flex-end;
}

/* .card {
    width: 30%;
}

.card-img-top {

    width: 30%;
} */

.landing-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 80px;
}
.title-admin {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 50px;
}
.about {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 35px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 4rem;
}


/* Heures d'ouverture   */

.openinghours {
    font-family:Open Sans;
    color: white;
    border-radius:5px;
    background-color: #014c4f;
    width: 500px;
    margin:10px;
    padding:50px;
    overflow: hidden;
    display: block;
}
.openinghourscontent {
    float:left;
}
.openinghourscontent h2 {
    display:block;
    text-align:center;
    margin:.33em;
}

.today {
    color: #32006e;
}
.opening-hours-table tr td:first-child {
    font-weight:bold;
}
#open-status {
    display:block;
    margin-top:.5em;
    margin-bottom: .1em;
    text-align:center;
    font-size: 20px;
    padding: 15px;

}
.openorclosed:after {
    content:"";
}
.open {
    color:white;
}
.open:after {
    content:" open";
    color: #32006e;
}
.closed:after {
    content:" closed";
    color: red;
}
.opening-hours-table tr td {
    padding:15px;
}

/* FIN HEURES D'OUVERTURE */

/* FOOTER */

.site-footer
{
  clear:both;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  bottom: 0;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* FIN FOOTER */

/* NAVBAR */

nav{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    top: 0;

}

nav h1{
    text-transform: uppercase;
    color:#fff;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    margin-top: 15px; /* remove  */
}
nav ul li a{
    text-decoration: none;
    color:#1E1E23;
    position: relative;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
.link::before{
    content: attr(data-text);
    color:#1E1E23;
    position: absolute;
    left: 0;
    top: 0%;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
    text-transform: inherit;
    border-bottom: 3px solid #1E1E23;

}
a:hover::before{
    width: 100%;
    text-transform: inherit;

}
@media(max-width:700px){
    nav{
        display: block;
        text-align: center;
    }
    nav ul li{
        display: block;
        padding: 10px 0;
    }
}

.link:hover {
    color: #1E1E23!important;
}

/* FIN NAVBAR */


/* NAVBAR MOBILE */

.menu-mobile{
  z-index: 1;
  opacity: 1;
}
.mobile-menu-link {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'Dancing Script', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;

}
.mobile-menu-link:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}
.content {
  border: 1px solid #36383F;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: black;
  overflow: hidden;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 180px;
  height: 400px;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* FIN NAVBAR MOBILE */

/* CARDS  */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;


}

    .cards {
        width: auto;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        max-width: 820px;
    }
.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  /* visibility: hidden; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  border-top: 2px #AD7D52 solid;
  
}

.card__info-hover {
    /* position: absolute; */
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 350px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}


/* FIN CARDS  */
/* REVIEWS  */



/* FIN REVIEWS  */

/* SEPARATEURS  */

.curved {
  position: relative;
  background: #014c4f;
  height: auto;
  border-bottom-left-radius: 50% 15%;
  border-bottom-right-radius: 50% 15%;
}

.sep-row{
  width:100%;
  height:5vh;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  background-color: #014c4f;
}

/* -- SVG CSS -- */

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom{
  top: auto;
  bottom: 0;
}
.sep1{
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep2 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep3 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep4 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep5 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep6 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep7 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep8 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep9 {
  transform: translateY(0%) translateY(-2px) scale(-1,-1);
  transform-origin: bottom;
}
.sep10 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep11 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep12 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
/* FIN SEPARATEURS  */

/* MOBILES  */


@media(max-width: 700px){
 
  form {
    width: 80%;
  }
  .title {
    font-size: 60px;
  }
  .menu-desktop{
    display: none;
  }
  .admin-buttons{
    flex-direction: column;
 }
 .devantureImg{
   width: 90%;
 }
 .landing-container {
   flex-direction: column;
 }
 .openinghours{
   margin-left: auto;
   margin-right: auto;
 }
 iframe {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
 }
 .cards-container {
   flex-direction: column;
 }

}

@media(min-width: 700px){
  .menu-mobile{
    display: none;
  }
}